/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #A1D8EA !default;
$body-color: #1C2D8C !default;
$link-color: #7C4A89 !default;
$selection-bg: #26351c !default;
$text-muted: #7C4A89 !default;
$code-color: #9F281A !default;
$code-block-bg: #fff !default;
$code-block-border-color: #9F281A !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #027373 !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal pre code {
  background-color: $body-bg;
  color: $body-color;
}

.reveal pre.sourceCode code {
  @if variable-exists(code-block-color) {
    color: $code-block-color;
  }

  background-color: $code-block-bg;
  color: $body-color;
  padding: 6px 9px;
  max-height: 500px;
  white-space: pre;
}