/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #D64309 !default;
$selection-bg: #26351c !default;
$text-muted: lighten(#D64309, 30%);

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #D64309 !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}