<link rel="stylesheet" type="text/css" href="/custom-css/print.css" media="print" />

  <link rel="shortcut icon" href="{{ "iSDR_logo.ico?v=001" | absURL }}" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "img/iSDR_logo57x57.png" | absURL }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "img/iSDR_logo114x114.png" | absURL }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "img/iSDR_logo72x72.png" | absURL }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "img/iSDR_logo144x144.png" | absURL }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "img/iSDR_logo120x120.png" | absURL }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "img/iSDR_logo152x152.png" | absURL }}" />
  <link rel="icon" type="image/png" href="{{ "img/iSDR_logo32x32.png" | absURL }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ "img/iSDR_logo16x16.png" | absURL }}" sizes="16x16" />
  <meta name="application-name" content="{{ .Site.Params.course.number }}: {{ .Site.Title }}" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{{ "img/mstile-144x144.png" | absURL }}" />
